/* @theme base */
@import "gaia";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-theme: rgb(43, 43, 43);
  --background-code: rgb(20, 20, 20);
  --code-text-color: rgb(233, 236, 239);
  --black: rgb(40, 40, 40);
  --h1-font-size: 50px;
  --h2-font-size: 45px;
  --h3-font-size: 40px;
  --h4-font-size: 35px;
  --header-footer-font-size: 20px;
  --main-font-size: 30px;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --normal-border-radius: 5px;
}

section {
  padding: 60px 40px 10px 40px;
  font-family: "Noto Sans", sans-serif;
  font-size: var(--main-font-size);
  font-weight: var(--font-weight-normal);
  color: var(--black);
}

header {
  width: 100%;
  color: var(--black);
  font-size: var(--header-footer-font-size);
  height: 50px;
}

footer {
  width: 100%;
  color: var(--black);
  text-align: left;
  padding-bottom: 0;
  font-size: var(--header-footer-font-size);
  height: 60px;
}

section h1 {
  font-size: var(--h1-font-size);
  border-bottom: 2px solid var(--black);
  margin-bottom: 10px;
}

section h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-normal);
}

section h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-normal);
}

section h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-normal);
}

section p img {
  display: block;
  margin: 0 auto;
  border-radius: var(--normal-border-radius);
}

section pre {
  background-color: var(--background-code);
  border-radius: var(--normal-border-radius);
  border: var(--black) 1px solid;
}

section code.language-txt {
  color: var(--black);
}

section code {
  color: var(--code-text-color);
  background-color: var(--background-code);
  padding: 4px 8px 4px;
  border-radius: 4px;
}

section ul,
ol {
  padding-left: 40px;
}
